---
defaults:
  domain: iacvagrant.local.arnoldbechtoldt.com
  base_box: DEV_Debian_78_salt_arbe_git-virtualbox-v0.4-4-gc6b98de.box
  base_box_basedir: ../../../vagrant-devenv/shared/boxes
  osfam: debian
  assets_dir: ../vagrant-assets
  synced_folders:
    # Common folders
    - src: ../shared/misc
      dst: /vagrant/shared/misc

    # Salt related folders
    #- src: ../shared/salt/devenv
    #  dst: /vagrant/shared/salt/devenv
    #- src: ../../github/salt
    #  dst: /vagrant/src/salt
    #- src: ../../../salt-modules/_modules
    #  dst: /vagrant/salt/_modules
    #- src: ../../../salt-modules/_states
    #  dst: /vagrant/salt/_states

    # Puppet related folders
    #- src: ../shared/puppet
    #  dst: /vagrant/shared/puppet
    #- src: ../../../<project>/puppet/modules
    #  dst: /vagrant/shared/puppet_modules_ext
    #- src: ../../../<project>/puppet-data
    #  dst: /vagrant/shared/puppet_hiera_ext

    # Rex related folders
    #- src: ../../github/rex
    #  dst: /vagrant/src/rex
  provision:
    - name: basic
      env:
        update_dist: true
nodes:
  client1: {}
