---
defaults:
  # Linode
  linode_token: <LINODE_API_TOKEN>
  linode_private_network: true
  base_box: linode
  base_box_url: https://github.com/bechtoldt/vagrant-linode/raw/master/box/linode.box
  os: CentOS 7

  # Digital Ocean
  #digitalocean_token: <DO_API_V2_TOKEN>
  #digitalocean_private_network: true
  #base_box: digitalocean
  #base_box_url: https://github.com/bechtoldt/vagrant-digitalocean/raw/master/box/digital_ocean.box
  #os: centos-7-0-x64

  domain: iacvagrant.local.arnoldbechtoldt.com
  osfam: debian
  synced_folders:
    # Common folders
    - src: assets/scripts/provision
      dst: /vagrant/scripts
    - src: ../shared/misc
      dst: /vagrant/shared/misc

    # Salt related folders
    #- src: ../shared/salt/devenv
    #  dst: /vagrant/shared/salt/devenv
    #- src: ../../github/salt
    #  dst: /vagrant/src/salt
    #- src: ../../../salt-modules/_modules
    #  dst: /vagrant/salt/_modules
    #- src: ../../../salt-modules/_states
    #  dst: /vagrant/salt/_states

    # Puppet related folders
    #- src: ../shared/puppet
    #  dst: /vagrant/shared/puppet
    #- src: ../../../<project>/puppet/modules
    #  dst: /vagrant/shared/puppet_modules_ext
    #- src: ../../../<project>/puppet-data
    #  dst: /vagrant/shared/puppet_hiera_ext

    # Rex related folders
    #- src: ../../github/rex
    #  dst: /vagrant/src/rex
  provision:
    - name: basic
nodes:
  client1: {}
