---
defaults:
  domain: iacvagrant.local.arnoldbechtoldt.com
  base_box: chef/centos-6.5
  #base_box_url: https://atlas.hashicorp.com/chef/boxes/centos-6.5/versions/1.0.0/providers/virtualbox.box
  osfam: rhel
  assets_dir: ../vagrant-assets
  provision:
    - name: basic
nodes:
  client1: {}
